$black: #000;
$background: linear-gradient(135deg, #f61d80 0%, #8774ff 51.24%, #343dff 100%);
$green: #4cd964;
$white: #fff;
$white-100: #efeff4;
$grey: #666666;
$blue-purple: #8b79ff;
$blue: #343dff;
$grey-light: #c8c7cc;
$grey-100: #8c8c8c;
$red: #ff2d55;
$width: 375px;
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
