$black: #000;
$background: linear-gradient(135deg, #f61d80 0%, #8774ff 51.24%, #343dff 100%);
$green: #4cd964;
$white: #fff;
$grey: #666666;
$blue: #343dff;
$grey-light: #c8c7cc;
$red: #ff2d55;
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
