.avatar {
  border-radius: 50%;
  background-color: $grey-light;
  object-fit: cover;
  &__field {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__avatar {
    width: fit-content;
    position: relative;
  }
  &-XL {
    height: 86px;
    width: 86px;
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  &__label {
    cursor: pointer;
    position: absolute;
    height: 32px;
    right: 0;
    width: 32px;
    background: $background;
    border-radius: 50%;
    right: 0px;
    bottom: 0;
    @include center;
    right: 0;
  }
}
