.image-preview {
  padding: 20px;
  background: $black;
  border-radius: 8px;
  position: relative;
  height: 300px;
  z-index: 0;
  &-cover {
    img {
      object-fit: cover;
    }
  }
  &-fill {
    img {
      object-fit: fill;
    }
  }
  &-contain {
    img {
      object-fit: contain;
    }
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
